// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-shadow: #696969;
$form-bg: #eaeaea;
$submit-bg: #7CBBDC;
$submit-text-cl: #403218;

$btn-colors: (
	darc: dimgray,
	light-blue: lightskyblue,
	gray: silver
)
// FONTS
